@font-face {
    font-family: 'Proxima Nova';
    font-style: thin;
    font-weight: 300;
    src: url('/fonts/ProximaNova-Light.otf') format('otf');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ProximaNova-Reg.otf') format('otf');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/ProximaNova-Bold.otf') format('otf');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/PlayfairDisplay-Bold.ttf') format('ttf');
}